LOG_LEVEL="DEBUG"
PATH_TO_DB="./data/posts.db"
ADMIN_KEY="set_your_own_very_long_password"
DOMAIN_NAME="your_sites_name"

# mailing config
MAIL_SERVER = "bulk.smtp.mailtrap.io"
MAIL_PORT  = 587
MAIL_USERNAME = 'api'
MAIL_API_KEY="your_mail_server_key"

# celery config
CELERY_BROKER_URL = "redis://redis:6379"
CELERY_RESULT_BROKER = "redis://redis:6379"
