LOG_LEVEL="DEBUG"
PATH_TO_DB="./data/posts.db"
ADMIN_KEY="set_your_own_very_long_password"
DOMAIN_NAME="your_sites_name"

# mailing config
MAIL_SERVER = "bulk.smtp.mailtrap.io"
MAIL_PORT  = 587
MAIL_USERNAME = 'api'
MAILTRAP_API_KEY="your_mailtrap_key"
