DOMAIN_NAME="your_sites_name"
ADMIN_KEY="set_your_own_very_long_password"
LOG_LEVEL="DEBUG"

PATH_TO_DB="./data/blog.db"
POOL_SIZE = "4"
MAX_POOL_OVERFLOW = "10"

PATH_TO_MEDIA="./static/media"
# mailing config
MAIL_SERVER = "smtp.eu.mailgun.org"
MAIL_PORT  = 587
MAIL_USERNAME = 'your_email'
MAIL_PASSWORD="your_mail_server_key"

# celery configcelery-worker-pools
CELERY_BROKER_URL = "redis://redis_db:6379"
CELERY_RESULT_BROKER = "redis://redis_db:6379"

#limiter config
LIMITER_STORAGE_URI = "redis://redis_db:6379"