<!DOCTYPE html>
<html>

<head>
  <title> {{ post[1] }} </title>
  <meta name="viewport" content="width:device-width,initial-scale=1.0" />
  <link rel="stylesheet" href="{{
				 url_for('static',filename='style.css') }}">
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$']]
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>

<body>
  <div class="blog_content">
    <h1 style="text-align:center;"> {{ post[1] }} </h1>
    <p style="text-align:center;"> {{ post[2] }} </p>
    {{ post[3]|safe }}
  </div>
</body>

</html>
