{% extends 'base.html' %}

{% block title %} The about page {% endblock %}

{% block content %}
<div>
    <p>
        text(o)s is a blog that contains texts and <em>textos</em>. I have a wide range of interests and so the blog
        probably has a
        wide range of topics.
    </p>
    <p>
        text(o)s es un blog que contiene <em>texts</em> y textos. Tengo una amplia gama de intereses, por lo que
        probablemente el
        blog trate una amplia variedad de temas.
    </p>
</div>
{% endblock %}