{% extends 'base.html' %}
{% block title %} add post{% endblock %}

{% block content %}

{% set submit_label = 'Add post' %}

{% if update %}
 {% set submit_label = 'Update post' %}
{% endif %}

<form class="add_post_form" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p> {{ form.title(placeholder="title")}}</p>
  <p> {{ form.preview(placeholder="preview") }}</p>
  <p> {{ form.content(placeholder="content") }}</p>
  {% if update and form.delete_images.choices %}
  <div id="delete_images_block">
    <label for="delete_images"> Delete existing images </label><br>
    {{ form.delete_images() }}
  </div>
  {% endif %}
  <div id="add_images_block">
    <label for="images"> Add images (name matches markdown reference)</label><br>
    {{ form.images() }}
  </div>
  <p> {{ form.admin_key(placeholder="admin key") }}</p>
  <input type="submit" value= "{{submit_label}}" >
</form>

{% endblock %}
