{% extends 'base_header.html' %}
{% block title %} text(o)s {% endblock %}

{% block content %}

<div class="post_preview_container">
    
    {% for post in posts %}

    <a class="preview_link_wrapper" href="/post/{{ post[0] }}">
            <div class="preview_header">
                <!-- <h3 class="title{{ (post[0]|int // 4 + post[0]|int % 4) % 4 + 1 }}">{{ post[1] }}</h3> -->
                <h3 class="title1">{{ post[1] }}</h3>
                <p class="date">{{ post[2] }}</p>
            </div>

            {{ post[3]|safe }}
    </a>


    {% endfor %}

</div>

{% endblock %}